<% include ../../partials/layout.ejs %>
<div class="container-fluid">
  <div class="col-md-12">
      <h1 class="text-center pacifico"> Panel de administración de Producto terminado</h1>
      <hr class="cust-hr">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link" href="/app/productoTer">Producto terminado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/app/elaborado/entrada">Entradas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/app/elaborado">Elaborado</a>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <% if(messages.length > 0) { %>
      <div class="alert alert-danger">
        <% messages.forEach(function(message) { %>
          <p><%= message %></p>
        <% }); %>
      </div>
    <% } %>
    <br>
    <caption>Produccion actual</caption>
    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Lote</th>
          <th>fecha_ven</th>
          <th>Cantidad</th>
          <th>Empacado</th>
          <th>Averidas</th>
          <th>Averidas %</th>
          <th>Diferencia</th>
          <th>Diferencia %</th>
          <th>Estado %</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% if(producciones.length > 0){ %>
          <% producciones.forEach(function(produccion){ %>
    				<tr>
              <td><%= produccion.prod.nombre %> X <%= produccion.peso %></td>
              <td><%= produccion.lote %></td>
              <td><%= produccion.fecha_ven %></td>
              <td><%= produccion.cantidad %></td>
              <td><%= produccion.empacado %></td>
              <td><%= produccion.averias %></td>
              <td><%= produccion.averiasPor %></td>
              <td><%= produccion.diferencia %></td>
              <td><%= produccion.diferenciaPor %></td>
              <td><%= produccion.estado %></td>
              <td>
                <!--Allow button-->
                <form action="/app/elaborado/allow" method="POST" class="link">
                  <input type="hidden" name="allow" value="<%= produccion._id %>">
                  <button type="submit" class="btn btn-success btn-sm  formu"><i class="fas fa-check"></i> Aprobar</button><!--edit button-->
                </form>
              </td>

            </tr>
    			<% }); %>
        <% } else{ %>
          <td colspan="9" class="text-center"> No hay entradas para mostrar</td>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
