<% include ../../partials/layout.ejs %>
<div class="container-fluid">
  <div class="col-md-12">
      <h1 class="text-center pacifico"> Panel de administración de Producto terminado</h1>
      <hr class="cust-hr">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link active" href="/app/productoTer">Producto terminado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/app/elaborado/entrada">Entradas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/app/elaborado">Elaborado</a>
        </li>
      </ul>
    </div>

    <br>
    <a href="/app/productoTer/new" class="btn btn-primary btn-lg active"><i class="fas fa-plus"></i> Nuevo producto</a>
    <br>
    <br>
    <caption>Inventario actual</caption>
    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Stock</th>
          <th>Averidas %</th>
          <th>Diferencia %</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% if(productos.length > 0){ %>
          <% productos.forEach(function(producto){ %>
    				<tr>
              <td><%= producto.nombre %></td>
              <td><%= producto.stock %></td>
              <td><%= producto.averiasPor %></td>
              <td><%= producto.diferenciaPor %></td>
              <td>
                <!--historial button-->
                <form action="/app/elaborado/historial" method="GET" class="link mx-auto">
                  <input type="hidden" name="prodid" value="<%= producto.id %>">
                  <button type="submit" class="btn btn-success btn-sm "><i class="fas fa-clipboard-list"></i></button><!--edit button-->
                </form>
                <!--Edit button-->
                 <form action="/app/productoTer/<%= producto._id %>/edit" method="GET" class="link">
                   <button type="submit" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i></button>
                 </form>
                <!--delete button-->
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal<%= producto._id %>"><i class="far fa-trash-alt"></i></button>

                <div class="modal fade" id="myModal<%= producto._id %>" tabindex="-1" role="dialog" arialabelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">Producto:<%producto.name %></h4>
                          <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                            <span aria-hidden="true"> &times;</span>
                          </button>
                        </div>
                        <div class="modal-body"><p class="modal-title" id="myModalLabel"> Está seguro de que quiere eliminar este producto?</h4></div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                          <form action="/app/productoTer/<%= producto._id%>?_method=delete" class="link" method="POST">
                            <input type="hidden" name="nombre" value="<%= producto.nombre %>">
                            <button type="submit" class="btn btn-primary"> Confirmar</button>
                          </form>
                        </div>
                      </div>
                    </div>
                </div>
              </td>
            </tr>
    			<% }); %>
        <% } else{ %>
          <td colspan="5" class="text-center"> No hay productos para mostrar</td>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
