<% include ../../partials/layout.ejs %>
<div class="container-fluid">
  <div class="col-md-12">
      <h1 class="text-center pacifico"> Panel de administración Bodega Auxiliar </h1>
      <hr class="cust-hr">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link active" href="/app/inventario?bodega=auxiliar">Materia prima</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/app/inOut?tipo=salida&bodega=auxiliar">Entradas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/app/produccion">Salidas</a>
        </li>
      </ul>
    </div>
    <br>
    <p class="money"><i class="fas fa-dollar-sign"></i>Valor del inventario: <span class="badge badge-success">$<%= valorTotal%></span></p>
    <br>
    <br>
    <caption>Inventario actual</caption>
    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Bodega Principal</th>
          <th>Presentacion(G)</th>
          <th>Valor Unitario($)</th>
          <th>Valor/Gramo($)</th>
          <th>Stock</th>
          <th>Stock Real</th>
          <th>Diferencia</th>
          <th>ValorDif($)</th>
        </tr>
      </thead>
      <tbody>
        <% if(inventarios.length > 0){ %>
          <% inventarios.forEach(function(inventario){ %>
    				<tr>
              <td><%= inventario.mp %> </td>
              <td><%= inventario.cantidadTotal %></td>
              <td><%= inventario.presentacion %>g</td>
              <td>$<%= inventario.valorUni %></td>
              <td>$<%= inventario.valorG %></td>
              <td><%= inventario.stock %>g</td>
              <td>
                <div class="input-group">
                  <form action="/app/inventario/real" method="GET" class="link col-12" style="margin: 0; padding: 0;">
                    <input type="number" class="form-control col-8 " style="display:inline;" aria-label="Recipient's username" aria-describedby="basic-addon2" name="stockReal">
                    <input type="hidden" name="invid" value="<%= inventario._id %>">
                    <button type="submit" class="btn btn-primary btn-md"><i style="font-size: 3vh;"class="fas fa-save"></i></button>
                    <!--<div class="input-group-append">
                      <a class="btn btn-primary btn-md" href="/app/inventario/real?id=<%= inventario._id %>"><i style="font-size: 3.5vh;"class="fas fa-save"></i></a>
                    </div>-->
                  </form>
              </td>
              <td><%= inventario.diferencia %>g</td>
              <td>$<%= inventario.valorDif %></td>

            </tr>
    			<% }); %>
        <% } else{ %>
          <td colspan="6" class="text-center"> No hay materia prima para mostrar</td>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
