<% include ../../../partials/layout.ejs %>
<div class="container">
    <div class="col-md-12">
      <h1 class="text-center pacifico"> Entradas bodega principal </h1>
      <hr class="cust-hr">
      <a href="/app/producto" class="btn btn-primary btn-lg active"><i class="fas fa-plus"></i> volver</a>
    </div>

    <br>
    <% if(messages.length > 0) { %>
      <br>
      <div class="alert alert-danger">
        <% messages.forEach(function(message) { %>
          <p><%= message %></p>
        <% }); %>
      </div>
    <% } %>
    <br>
    <caption>Entradas actuales</caption>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Producto</th>
            <th>Ingrediente</th>
            <th>Cantidad %</th>
            <th>Cantidad en gramos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% var cont = 1; if(ingredientes.length > 0){ %>
            <% ingredientes.forEach(function(ingrediente){ %>
      				<tr>
                <td><%= cont %> </td>
                <td><%= ingrediente.prod.nombre %></td>
                <td><%= ingrediente.inv.mp %></td>
                <td><%= ingrediente.cantidad %></td>
                <td><%= ingrediente.cantidadG %></td>
                <td>
                  <!--Edit button-->
                  <form action="/app/ingrediente/<%= ingrediente._id %>/edit" method="GET" class="link">
                    <input type="hidden" class="form-control" name="tipo" value="entrada">
                    <button type="submit" class="btn btn-warning btn-sm right-space"><i class="fas fa-pencil-alt"></i></button><!--edit button-->
                  </form>
                  <!--delete and back stock to inventary button-->
                  <button type="button" class="btn btn-danger btn-sm right-space" data-toggle="modal" data-target="#myModal<%= ingrediente._id %>"><i class="far fa-trash-alt"></i></button>

                  <div class="modal fade" id="myModal<%= ingrediente._id %>" tabindex="-1" role="dialog" arialabelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Ingrediente:<%= ingrediente.inv.mp %></h4>
                            <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                              <span aria-hidden="true"> &times;</span>
                            </button>
                          </div>
                          <div class="modal-body"><p class="modal-title" id="myModalLabel"> Está seguro que de que quiere eliminar esta entrada?</h4></div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <form action="/app/ingrediente/<%= ingrediente._id%>?_method=delete" class="link" method="POST">
                              <input type="hidden" class="form-control" name="dev" value="devolucion">
                              <button type="submit" class="btn btn-primary"> Confirmar</button>
                            </form>
                          </div>
                        </div>
                      </div>
                  </div>
                </td>
              </tr>
      			<% cont++; }); %>
          <% } else{ %>
            <td colspan="11" class="text-center"> No hay ingredientes para mostrar</td>
          <% } %>
        </tbody>
      </table>
    </div>

  </div>
</div>
