<% include ../../partials/layout.ejs %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 mx-auto">
    <p><%= user.name %></p>
    <p><%= user.apellido %></p>
    <p><%= user.email %></p>
    <p><%= user.tipo %></p>
    <p><%= user.own %></p>
  </div>
</div>
</div>
