<% include ../../partials/layout.ejs %>
<div class="container-fluid">
  <div class="col-md-12">
      <h1 class="text-center pacifico"> Panel de administración de Productos</h1>
      <hr class="cust-hr">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link" href="/app/producto">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/app/cliente">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/app/orden">Ordenes</a>
        </li>
      </ul>
    </div>
    <br>
    <a href="/app/cliente/new" class="btn btn-primary btn-lg active"><i class="fas fa-plus"></i> Nuevo Cliente</a>
    <br>
    <br>
    <caption>Clientes actuales</caption>
    <table class="table">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Nit</th>
          <th>Email</th>
          <th>Ciudad</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Horario</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% if(clientes.length > 0){ %>
          <% clientes.forEach(function(cliente){ %>
    				<tr>
              <td><%= cliente.codigo %> </td>
              <td><%= cliente.nombre %></td>
              <td><%= cliente.nit %> </td>
              <td><%= cliente.email %> </td>
              <td><%= cliente.ciudad %></td>
              <td><%= cliente.direccion %> </td>
              <td><%= cliente.telefono %></td>
              <td><%= cliente.horario %> </td>
              <td>
                <!--Edit button-->
                 <form action="/app/cliente/<%= cliente._id %>/edit" method="GET" class="link">
                   <button type="submit" class="btn btn-warning btn-sm right-space"><i class="fas fa-pencil-alt"></i></button>
                 </form>
                <!--delete button-->
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal<%= cliente._id %>"><i class="far fa-trash-alt"></i></button>

                <div class="modal fade" id="myModal<%= cliente._id %>" tabindex="-1" role="dialog" arialabelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">Cliente:<%= cliente.nombre %></h4>
                          <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                            <span aria-hidden="true"> &times;</span>
                          </button>
                        </div>
                        <div class="modal-body"><p class="modal-title" id="myModalLabel"> Está seguro de que quiere eliminar este cliente?</h4></div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                          <form action="/app/cliente/<%= cliente._id%>?_method=delete" class="link" method="POST">
                            <input type="hidden" name="id" value="<%= cliente._id %>">
                            <button type="submit" class="btn btn-primary"> Confirmar</button>
                          </form>
                        </div>
                      </div>
                    </div>
                </div>
              </td>
            </tr>
    			<% }); %>
        <% } else{ %>
          <td colspan="8" class="text-center"> No hay clientes para mostrar</td>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
