<% include ../../../partials/layout.ejs %>
<div class="container-fluid">
  <div class="col-md-12">
      <h1 class="text-center pacifico"> Salida bodega auxiliar </h1>
      <hr class="cust-hr">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link" href="/app/inventario?bodega=auxiliar">Bodega Auxiliar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/app/inOut?tipo=salida&bodega=auxiliar">Entradas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/app/produccion">Salidas</a>
        </li>
      </ul>
    </div>
    <br>
    <a href="/app/produccion/new" class="btn btn-primary btn-lg active"><i class="fas fa-plus"></i> Nueva Salida</a>
    <br>
    <br>
    <% if(messages.length > 0) { %>
      <br>
      <div class="alert alert-danger">
        <% messages.forEach(function(message) { %>
          <p><%= message %></p>
        <% }); %>
      </div>
    <% } %>
    <br>
    <caption>Salidas actuales</caption>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Peso</th>
            <th>Peso crudo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% var cont = 1; if(produccion.length > 0){ %>
            <% produccion.forEach(function(salida){ %>
              <tr>
                <td><%= cont %> </td>
                <td><%= salida.hora %></td>
                <td><%= salida.prod.nombre %></td>
                <td><%= salida.cantidad %></td>
                <td><%= salida.peso %></td>
                <td><%= salida.pesoCrud %></td>
                <td><%= salida.lote %></td>
                <td>
                  ninguna
                </td>
              </tr>
      			<% cont++; }); %>
          <% } else{ %>
            <td colspan="7" class="text-center"> No hay salidas para mostrar</td>
          <% } %>
        </tbody>
      </table>
    </div>

  </div>
</div>
