<% include ../../partials/layout.ejs %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 mx-auto">

  	<h1><i class="fas fa-sign-in-alt"></i>Editar <%= user.tipo %></h1>

  	<% if(messages.length > 0) { %>
  		<div class="alert alert-danger">
  			<% messages.forEach(function(message) { %>
  				<p><%= message %></p>
  			<% }); %>
  		</div>
  	<% } %>

  	<!-- Edit FORM -->
  	<form action="/app/entrada/<%= entrada._id %>?_method=PUT" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" name="nombre" value="<%= user.nombre %>">
      </div>
      <div class="form-group">
        <label>Apellido</label>
        <input type="text" class="form-control" name="apellido" value="<%= user.apellido %>">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" value="<%= user.email %>">
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" value="<%= user.username %>" disabled>
      </div>
      <div class="form-group">
        <label> New Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="form-group">
        <label>Repeat Password</label>
        <input type="password" class="form-control" name="passwordConfirm">
      </div>
      <input type="hidden" name="userid" value="<%= user._id %>">
      <input type="hidden" name="tipo" value="<%= user.tipo %>">
      <button type="submit" class="btn btn-success btn-lg">Signup</button>
  	</form>

  </div>
</div>
</div>
