<% include ../../../partials/layout.ejs %>
<div class="container-fluid">
  <div class="col-md-12">
      <h1 class="text-center pacifico"> Salidas bodega principal </h1>
      <hr class="cust-hr">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link" href="/app/inventario?bodega=principal">Materia prima</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/app/inOut?tipo=entrada&bodega=principal">Entradas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/app/inOut?tipo=salida&bodega=principal">Salidas</a>
        </li>
      </ul>
    </div>
    <br>
    <a href="/app/inOut/new?tipo=salida" class="btn btn-primary btn-lg active"><i class="fas fa-plus"></i> Nueva Salida</a>
    <br>
    <% if(messages.length > 0) { %>
      <br>
      <div class="alert alert-danger">
        <% messages.forEach(function(message) { %>
          <p><%= message %></p>
        <% }); %>
      </div>
    <% } %>
    <br>
    <caption>Salidas actuales</caption>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Producto</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Presentacion</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% var cont = 1; if(inOut.length > 0){ %>
            <% inOut.forEach(function(salida){ %>
      				<tr>
                <td><%= cont %> </td>
                <td><%= salida.inv.mp %></td>
                <td><%= salida.hora %></td>
                <td><%= salida.cantidad %></td>
                <td><%= salida.presentacion %></td>
                <td>
                  <!--Edit button-->
                  <!--<form action="/app/salida/<%= salida._id %>/edit" method="GET" class="link">
                    <button type="submit" class="btn btn-warning btn-sm right-space"><i class="fas fa-pencil-alt"></i></button>
                  </form>-->
                  <!--delete button-->
                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal<%= salida._id %>"><i class="far fa-trash-alt"></i></button>

                  <div class="modal fade" id="myModal<%= salida._id %>" tabindex="-1" role="dialog" arialabelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Salida:<%= salida.inv.mp %></h4>
                            <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                              <span aria-hidden="true"> &times;</span>
                            </button>
                          </div>
                          <div class="modal-body"><p class="modal-title" id="myModalLabel"> Está seguro que de que quiere eliminar esta salida?</h4></div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <form action="/app/inOut/<%= salida._id%>?_method=delete" class="link" method="POST">
                              <input type="hidden" class="form-control" name="inv" value="<%= salida.inv._id %>">
                              <input type="hidden" class="form-control" name="tipo" value="salida">
                              <input type="hidden" class="form-control" name="dev" value="devolucion">
                              <input type="hidden" class="form-control" name="bodega" value="principal">
                              <input type="hidden" class="form-control" name="cantidad" value="<%= salida.cantidad %>">
                              <input type="hidden" class="form-control" name="presentacion" value="<%= salida.presentacion %>">
                              <button type="submit" class="btn btn-primary"> Confirmar</button>
                            </form>
                          </div>
                        </div>
                      </div>
                  </div>
                </td>
              </tr>
      			<% cont++; }); %>
          <% } else{ %>
            <td colspan="7" class="text-center"> No hay entradas para mostrar</td>
          <% } %>
        </tbody>
      </table>
    </div>

  </div>
</div>
